extends layout.jade

block content
	include ./partials/search-bar.jade
	h1= headword
	.container
		.entry
			.collocators
				ul.list-group
					each collocation in collocations
						li.list-group-item!= collocation.kolokacija
							ul
								each example in collocation.examples
									li!= example
			.structures
				ul.nav.nav-pills.nav-stacked
					each structure in structures
						li(class=sid==structure.id_strukture ? 'active':'')
							a(href='/entry?id=' + id + '&sid=' + structure.id_strukture)= structure.struktura