extends layout.jade

block content
	include ./partials/search-bar.jade
	include ./mixins/collocations-mixins.jade
	.container
		.page-header
			h2= headword
			h3= pos
		.page-header
			h3 Izbrana struktura
			h3!= structure.struktura	
		.entry-wrapper
			.collocators
				ul.list-group
					each collocation in collocations
						li.list-group-item 
							+renderBatch(collocation, q)
			.structures
				ul.nav.nav-pills.nav-stacked
					each structure in structures
						li(class=sid==structure.id_strukture ? 'active':'')
							a(href='/entry?q=' + q + '&id=' + id + '&sid=' + structure.id_strukture)!= structure.struktura