extends layout.jade

block content
	include ./partials/search-bar.jade
	.container
		.col-lg-12
			h1= headword
			h2= pos
		.entry
			.collocators
				ul.list-group
					each collocation in collocations
						li.list-group-item
							a(href='/entry/collocation?q=' + q + '&id=' + id + '&cid=' + collocation.id_kolokacije)!= collocation.kolokacija
			.structures
				ul.nav.nav-pills.nav-stacked
					each structure in structures
						li(class=sid==structure.id_strukture ? 'active':'')
							a(href='/entry?q=' + q + '&id=' + id + '&sid=' + structure.id_strukture)= structure.struktura